{%extends 'student_portal/base.html'%}

{# load static #}
{%block body_block%}
  {% if not feedback_ON_OFF %}


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .alert {
      padding: 5px;
      background-color: #f06969;
      color: white;
  }

  .closebtn {
      margin-left: 10px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
  }

  .closebtn:hover {
      color: black;
  }
  </style>
  </head>
  <body>
<h4>
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Page not active! </strong><br> <br> This page is active only on certain dates of the month .
  </div>
</h4>




{% else %}

<br>
<h3>


<div style="text-align:center">
    <script>
    
      var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ];

        document.write("Mess Feedback Form for " + monthNames[{{mth}}-1] + " " + {{yr}});

    </script>
</div>
</h3>

<hr>
<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'student_portal/messfeedback_fields.html' %}
      <br><br>
      <div class="form-group" style=text-align:center>
        <div class="col-sm-offset-2 col-sm-10">
          {% if request.path == "/hab_portal/student_portal/messfeedback/update" %}
               <button type="submit" class="btn btn-primary">Update </button>
          {% else %}
               <button type="submit" class="btn btn-success"> Submit </button>
          {% endif %}

        </div>
      </div>
    </form>
  </div>
</div>



<!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'home' %}">Return to home</a></p> -->

{% endif %}
{%endblock%}
