<div style=text-align:center>
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.hostelName.errors }} </span>
        </div>
        <label class="control-label col-sm-2"> {{ form.hostelName.label_tag }}</label>
        <div class="col-sm-10"> {{form.hostelName}} </div>
      </div>
      <br><hr>
      <!-- <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.username.errors }} </span>
        </div>
        <label class="control-label col-sm-2"> {{ form.username.label_tag }}</label>
        <div class="col-sm-10"> {{form.username}} </div>
      </div>
      <br><br> -->
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.cleanliness.errors }} </span>
        </div>
        <label class="control-label col-sm-2"> {{ form.cleanliness.label_tag }}</label>
        <div class="col-sm-10"> {{form.cleanliness}} </div>
      </div>
      <br><hr>
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.qual_b.errors }} </span>
        </div>
        <label class="control-label col-sm-2">Breakfast Quality:</label>
        <div class="col-sm-10"> {{form.qual_b}} </div>
      </div>
      <br><hr>
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.qual_l.errors }} </span>
        </div>
        <label class="control-label col-sm-2">Lunch Quality:</label>
        <div class="col-sm-10"> {{form.qual_l}} </div>
      </div>
      <br><hr>
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.qual_d.errors }} </span>
        </div>
        <label class="control-label col-sm-2">Dinner Quality:</label>
        <div class="col-sm-10"> {{form.qual_d}} </div>
      </div>
      <br><hr>
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.catering.errors }} </span>
        </div>
        <label class="control-label col-sm-2"> {{ form.catering.label_tag }}</label>
        <div class="col-sm-10"> {{form.catering}} </div>
      </div>
      <br><hr>
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.comment.errors }} </span>
        </div>
        <label class="control-label col-sm-2"> {{ form.comment.label_tag }}</label>
        <div class="col-sm-10"> {{form.comment}} </div>
      </div>
      <br><hr>

      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.document.errors }} </span>
        </div>
        <label class="control-label col-sm-2"> {{ form.document.label_tag }}</label>
        <div class="col-sm-10"> {{form.document}} </div>
      </div>
      <br><hr>
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.description.errors }} </span>
        </div>
        <label class="control-label col-sm-2"> {{ form.description.label_tag }}</label>
        <div class="col-sm-10"> {{form.description}} </div>
      </div>
      <br><hr>
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <span class="test-danger small"> {{ form.uploaded_at.errors }} </span>
        </div>
        <label class="control-label col-sm-2"> {{ form.uploaded_at.label_tag }}</label>
        <div class="col-sm-10"> {{form.uploaded_at}} </div>
      </div>
      <hr>

</div>
