{% extends "hab_app/chrView.html" %}


{% block body_block %}
{% load my_tags %}
<!-- <div class="wrapper"> -->
<!-- /.col (left) -->
<style>
#mess {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#mess td, #mess th {
    border: 1px solid #ddd;
    padding: 8px;
}

#mess tr:nth-child(even){background-color: #f2f2f2;}

#mess tr:hover {background-color: #ddd;}

#mess th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
</style>




<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table id="mess">
      <tr>
        <th>Month</th>
        <th>Year</th>
        <th>MESS FEEDBACK(on/off)</th>
        <th colspan="2"> Feedback</th>
        <th>MESS PREFERENCE(on/off)</th>
        <th colspan="2">Preference</th>
        <th>Edit / Delete</th>
      </tr>
      <tr>
        <th>Value</th>
        <th>Value</th>
        <th>(checked/unchecked)</th>
        <th>START DATE</th>
        <th>END DATE</th>
        <th>(checked/unchecked)</th>
        <th>START DATE</th>
        <th>END DATE</th>
        <th> </th>
      </tr>

      {% for obj in objects %}
        <tr>
          <td>{{obj.month}}</td>
          <td>{{obj.year}}</td>
          <td>{{obj.feed_on_off}}</td>
          <td>{{obj.feed_start_date}}</td>
          <td>{{obj.feed_off_date}}</td>
          <td>{{obj.pref_on_off}}</td>
          <td>{{obj.pref_start_date}}</td>
          <td>{{obj.pref_off_date}}</td>

          <td><a class="btn btn-primary" href="{% url 'hab_app:mess_automation' %}?param2={{obj.month}}_{{obj.year}}" role="button">Edit</a>
            <a class="btn btn-danger" href="{% url 'hab_app:mess_automation' %}?param3={{obj.month}}_{{obj.year}}" role="button">delete</a></td>
        </tr>
      {% endfor %}

</table>
<hr>

    <button type="submit" class="btn btn-info" method="post" name="btn1"> add entry</button>

</form>






{% endblock %}
